<!DOCTYPE html>
<html lang="en" ng-app="cart-app">
<head>
    <meta charset="UTF-8">
    <title>my shopping cart</title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./controllers.js"></script>
</head>
<body ng-controller="cartController">
<h1>Your Order</h1>
<div ng-repeat="item in items">
    <span>{{item.title}}</span>
    <input ng-model="item.quantity">
    <span>{{item.price | currency}}</span>
    <span>{{item.price * item.quantity | currency}}</span>
    <button ng-click="remove($index)">Remove</button>
</div>
</body>
</html>